.git/**
.github/**
.vscode/**
.vscode-test/**
src/**
build/**
out/**
node_modules/**

**/*.test.ts
**/*.test.js
**/test/**
**/tests/**

.gitignore
.eslintrc*
tsconfig.json
webpack.config.js
appveyor.yml
**/*.map

*.vsix
yarn.lock
yarn-error.log
npm-debug.log
